@import url('header.css');
a {
  text-decoration: none;
  color: white;
}

/* main */
section:not(:nth-child(1)) {
  margin: 0 auto;
}

/* mian section 1 */
#hero {
  width: 100%;
}

.hero_slide {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  left: 0%;
}
.hero_slid.animated {
  transition: left 0.3s ease-in;
}

.slide-title {
  width: 100%;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}
.slide-title > li {
  display: flex;
  font-size: 15px;
  font-weight: var(--header-font-weight);
  padding: 10px 29px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 88px;

  border-bottom: 1px solid rgb(225, 225, 225);
}
.slide-title > li:nth-child(1) {
  border-bottom: 1px solid var(--main-red-color);
  color: var(--main-red-color);
}
.slide-title > li:not(:nth-child(1))::before {
  width: 1px;
  height: 34px;
  content: '';
  display: block;
  position: absolute;
  top: 35%;
  left: 0;
  background-color: rgb(225, 225, 225);
}

/* mian section 1 */
/* mian section 2 */
#new-product,
#introduce {
  padding: 40px 40px 0;
}
#new-product > aside {
  width: 100%;
  background: #808;
  height: 370px;
}
.new-product_magazine {
  background: #008;
  height: 720px;
  margin: 0 40px;
}
.slide-product {
  background: #077;
  height: 600px;
}
/* mian section 2 */

/* mian section 3 */
.introduce_akademie {
  height: 630px;
  background: #808;
}
.introduce_exhibition {
  height: 630px;
  background: #999;
}
/* mian section 3 */
/* additional */
.additional {
  height: 300px;
  background: #008;
}
/* additional */
/* main */

/* footer */
footer {
  height: 470px;
  background: #088;
}
/* footer */
:root {
  --header-font-size: 12px;
  --header-font-weight: 800;
  --main-red-color: RGB(227, 7, 15);
}
/* font */
